
/* pagina log in start */
#inicioPantalla{
   display: block;

   text-align: center;
margin: 1%;
padding: 1em;
border: 1px black solid;


   
}
.imagen{
    width:13em
}
.usuario{
    padding-top: 1em;

}

.contraseña{
    padding-top: 1em;
}
#iniciarSesion{
    margin-top: 1em;
    padding: 0.7em 0.5em 0.7em 0.5em;
    background: none;
    border-radius: 5em;
}
/* pagina log in end */





/* pagina de home start */
h3{
    padding-left:1em  ;
}
#sideBar ul{
    list-style: none;

}
.buscador{
    margin: 1em;

}

.botonBuscar{
    background: none;
    border-radius: 5em; 
}

.butonesCancion{
    display: inline-block;
    
}
.butonesCancion img{
    width: 1em;
    height: 1em;
    

}
/* listas start */
.TodasCanciones{
    width: auto;
    height: 10em;
    overflow-y: scroll;
    margin: 1em;
    border: 1px black solid;

}

.Favoritos{
    margin: 1em;
    border: 1px black solid;
}
.Playlist{
    margin: 1em;
    border: 1px black solid;
}


#play{
    background: none;
    border: none;
}
#heart-solid{
    background: none;
    border: none;
}
#plus{
    background: none;
    border: none;
}
#trash{
    background: none;
    border: none;
}
#heart{
    background: none;
    border: none;
}
/* list end */

body{
    display: grid;
    grid-template-columns: 1fr 1fr;
    
}

/* grid  start*/
/* reproductor start*/
p{
    padding-left: 1em;
}
#albumImg{

    margin: 10% 20%;
    width: 20em;
    display: block;


}
.play-boton{
    width: 3em;
    background: none;
    border: none;
}
#botonesReproductor{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5em;


   
}
/* reproductor end*/

/* grid end */
/* pagina de home end */